In [2]:
import flask as Flask
import pandas as pd
import numpy as np

In [3]:
#Read CSV file 
df = pd.read_csv("/Users/chaitanyadave/Desktop/Telco-Customer-Churn/Telco-Customer-Churn.csv")

In [8]:
df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,5375,0,0,1,0,1,0,1,0,0,...,0,0,0,0,0,1,2,29.85,2505,0
1,3962,1,0,0,0,34,1,0,0,2,...,2,0,0,0,1,0,3,56.95,1466,0
2,2564,1,0,0,0,2,1,0,0,2,...,0,0,0,0,0,1,3,53.85,157,1
3,5535,1,0,0,0,45,0,1,0,2,...,2,2,0,0,1,0,0,42.30,1400,0
4,6511,0,0,0,0,2,1,0,1,0,...,0,0,0,0,0,1,2,70.70,925,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,4853,1,0,1,1,24,1,2,0,2,...,2,2,2,2,1,1,3,84.80,1597,0
7039,1525,0,0,1,1,72,1,2,1,0,...,2,0,2,2,1,1,1,103.20,5698,0
7040,3367,0,0,1,1,11,0,1,0,2,...,0,0,0,0,0,1,2,29.60,2994,0
7041,5934,1,1,1,0,4,1,2,1,0,...,0,0,0,0,0,1,3,74.40,2660,1
7042,2226,1,0,0,0,66,1,0,1,2,...,2,2,2,2,2,1,0,105.65,5407,0

In [5]:
df.tail().T

,7038,7039,7040,7041,7042
customerID,6840-RESVB,2234-XADUH,4801-JZAZL,8361-LTMKD,3186-AJIEK
gender,Male,Female,Female,Male,Male
SeniorCitizen,0,0,0,1,0
Partner,Yes,Yes,Yes,Yes,No
Dependents,Yes,Yes,Yes,No,No
tenure,24,72,11,4,66
PhoneService,Yes,Yes,No,Yes,Yes
MultipleLines,Yes,Yes,No phone service,Yes,No
InternetService,DSL,Fiber optic,DSL,Fiber optic,Fiber optic
OnlineSecurity,Yes,No,Yes,No,Yes
OnlineBackup,No,Yes,No,No,No
DeviceProtection,Yes,Yes,No,No,Yes
TechSupport,Yes,No,No,No,Yes
StreamingTV,Yes,Yes,No,No,Yes
StreamingMovies,Yes,Yes,No,No,Yes
Contract,One year,One year,Month-to-month,Month-to-month,Two year
PaperlessBilling,Yes,Yes,Yes,Yes,Yes
PaymentMethod,Mailed check,Credit card (automatic),Electronic check,Mailed check,Bank transfer (automatic)
MonthlyCharges,84.8,103.2,29.6,74.4,105.65
TotalCharges,1990.5,7362.9,346.45,306.6,6844.5
Churn,No,No,No,Yes,No

In [7]:
df1= df
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

Categorical_data_features = [i for i in list(df.columns) if i not in list(df.describe().columns)]

print('Label Encoder Transformation')
for i in Categorical_data_features :
    df1[i] = le.fit_transform(df1[i])
    print(i,' : ',df1[i].unique(),' = ',le.inverse_transform(df1[i].unique()))

Label Encoder Transformation
customerID  :  [5375 3962 2564 ... 3367 5934 2226]  =  ['7590-VHVEG' '5575-GNVDE' '3668-QPYBK' ... '4801-JZAZL' '8361-LTMKD'
 '3186-AJIEK']
gender  :  [0 1]  =  ['Female' 'Male']
Partner  :  [1 0]  =  ['Yes' 'No']
Dependents  :  [0 1]  =  ['No' 'Yes']
PhoneService  :  [0 1]  =  ['No' 'Yes']
MultipleLines  :  [1 0 2]  =  ['No phone service' 'No' 'Yes']
InternetService  :  [0 1 2]  =  ['DSL' 'Fiber optic' 'No']
OnlineSecurity  :  [0 2 1]  =  ['No' 'Yes' 'No internet service']
OnlineBackup  :  [2 0 1]  =  ['Yes' 'No' 'No internet service']
DeviceProtection  :  [0 2 1]  =  ['No' 'Yes' 'No internet service']
TechSupport  :  [0 2 1]  =  ['No' 'Yes' 'No internet service']
StreamingTV  :  [0 2 1]  =  ['No' 'Yes' 'No internet service']
StreamingMovies  :  [0 2 1]  =  ['No' 'Yes' 'No internet service']
Contract  :  [0 1 2]  =  ['Month-to-month' 'One year' 'Two year']
PaperlessBilling  :  [1 0]  =  ['Yes' 'No']
PaymentMethod  :  [2 3 0 1]  =  ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
TotalCharges  :  [2505 1466  157 ... 2994 2660 5407]  =  ['29.85' '1889.5' '108.15' ... '346.45' '306.6' '6844.5']
Churn  :  [0 1]  =  ['No' 'Yes']

In [58]:
l= [3,4,6,8,2,4]
np.array(l).reshape(1,-1)

array([[3, 4, 6, 8, 2, 4]])

In [59]:
import numpy as np
from flask import Flask, request, jsonify, render_template
import pickle
import pandas as pd
from sklearn.preprocessing import LabelEncoder,MinMaxScaler
from xgboost import XGBClassifier



xgboostmodel = pickle.load(open('XGBClassifier_final.pkl', 'rb'))                       
# mms=pickle.load(open('LabelEncoder.pkl','rb'))
# le=pickle.load(open('LabelEncoder.pkl','rb'))


# print(np.array(list(data.values())).reshape(1,-1))
# new_data= le.transform(np.array(list(data.values())).reshape(1,-1))
# print(new_data)
# new_data= mms.transform(new_data)
# new_data=new_data.reshape(1,-1)

# output= xgboostmodel.predict(new_data)
# print(output)




def preprocess_data(input_data):
    # Load the saved label encoder
    label_encoder = LabelEncoder()  # Assuming you have instantiated and fitted the label encoder before
    mms = MinMaxScaler()
    # Create a DataFrame from the input data
    input_df = pd.DataFrame([input_data])

    # Encode categorical features using the saved label encoder
    for column in input_df.select_dtypes(include='object'):
        input_df[column] = label_encoder.fit_transform(input_df[column])

    numerical_features = ['tenure', 'MonthlyCharges', 'TotalCharges']
    input_df[numerical_features] = mms.fit_transform(input_df[numerical_features])
    
    # Return the preprocessed input data as a NumPy array
    return input_df.values

In [62]:


input_data={'SeniorCitizen':'No', 'Partner':'No', 'Dependents':'No', 'tenure':45, 'OnlineSecurity':'Yes', 'OnlineBackup':'No', 'DeviceProtection':'Yes', 'TechSupport':'Yes', 'Contract':'No', 'PaperlessBilling':'Yes', 'PaymentMethod':'Bank transfer (automatic)', 'MonthlyCharges':105.65, 'TotalCharges':6844.50}

le_coded = preprocess_data(input_data)

In [65]:
le_coded

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [ ]:
mms = MinMaxScaler()
numerical_features = ['tenure', 'MonthlyCharges', 'TotalCharges']
df[numerical_features] = mms.fit_transform(df[numerical_features])

In [9]:
import sklearn

print(sklearn.__version__)

1.2.2